<style>
  .customclass {
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    padding: 0.25em 0.4em;
  }
  .odd {
    background-color: #f8f8f8; /* Secondary arka plan */
  }

  .my-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    width: 4rem;
    height: fit-content;
    font-size: 75%;
    font-weight: bold; /* Kalın yazı */
    text-transform: uppercase; /* Büyük harf */
    color: #fff;
    background-color: #6c757d; /* Secondary arka plan */
    border-radius: 0.25rem;
    vertical-align: middle; /* Orta hizalama */
    margin-left: 0.25rem; /* ml-3: Sola boşluk */
  }

  .my-badge-resume {
    display: inline-block;
    padding: 0.25em 0.4em;
    width: 5rem;
    height: fit-content;
    font-size: 75%;
    font-weight: bold; /* Kalın yazı */
    text-transform: uppercase; /* Büyük harf */
    color: #fff;
    background-color: #6c757d; /* Secondary arka plan */
    border-radius: 0.25rem;
    vertical-align: middle; /* Orta hizalama */
    margin-left: 0.25rem; /* ml-3: Sola boşluk */
    transition: background-color 0.3s ease; /* Yumuşak geçiş efekti */
  }

  .my-badge-resume:hover {
    background-color: #2286ea; /* Turuncu arka plan */
  }
</style>

<div style="width: 98%">
  <div>
    <h2><i class="fas fa-newspaper mr-2"></i><span> News</span></h2>
    <div class="row p-1 align-items-center">
      <div class="col-auto p-1">
        <span class="my-badge"> Jul, 2024 </span>
      </div>
      <div class="col p-1">
        <p class="mt-1 mt-sm-0 ml-3 mb-0 font-weight-light text">
          I've completed
          <a href="https://coursera.org/share/6612d2ac3251f34bf23d73055a3d8cbd">
            Natural Language Processing Specialization
          </a>
          by DeepLearning.AI!
        </p>
      </div>
    </div>

    <div class="row p-1 align-items-center">
      <div class="col-auto p-1">
        <span class="my-badge"> Jan, 2023 </span>
      </div>
      <div class="col p-1">
        <p class="mt-2 mt-sm-0 ml-3 mb-0 font-weight-light text">
          I completed my first data science project(Anomaly Detection) at
          Innova!.
        </p>
      </div>
    </div>

    <div class="row p-1 align-items-center">
      <div class="col-auto p-1">
        <span class="my-badge"> Nov, 2022 </span>
      </div>
      <div class="col p-1">
        <p class="mt-1 mt-sm-0 ml-3 mb-0 font-weight-light text">
          I started working as a Data Scientist at
          <a href="https://www.innova.com.tr/en/about">Innova</a>!
        </p>
      </div>
    </div>

    <div class="row p-1 align-items-center">
      <div class="col-auto p-1">
        <span class="my-badge"> Nov, 2021 </span>
      </div>
      <div class="col p-1">
        <p class="mt-1 mt-sm-0 ml-3 mb-0 font-weight-light text">
          I completed my first software project (Restful API) at KAVAK.com!
        </p>
      </div>
    </div>

    <div class="row p-1 align-items-center">
      <div class="col-auto p-1">
        <span class="my-badge"> Nov, 2021 </span>
      </div>
      <div class="col p-1">
        <p class="mt-1 mt-sm-0 ml-3 mb-0 font-weight-light text">
          I started my first job at
          <a href="https://www.carvak.com/tr/hakkimizda">KAVAK.com</a> as
          Software Engineer I!
        </p>
      </div>
    </div>

    <div class="row p-1 align-items-center">
      <div class="col-auto p-1">
        <span class="my-badge"> Sep, 2021 </span>
      </div>
      <div class="col p-1">
        <p class="mt-1 mt-sm-0 ml-3 mb-0 font-weight-light text">
          I've finally graduated from
          <a href="https://mf.gazi.edu.tr/">Gazi University</a> Computer
          Engineering department! What a BSc, huh?
        </p>
      </div>
    </div>

    <div class="row p-1 align-items-center">
      <div class="col-auto p-1">
        <span class="my-badge"> Oct, 2020 </span>
      </div>
      <div class="col p-1">
        <p class="mt-1 mt-sm-0 ml-3 mb-0 font-weight-light text">
          I've completed
          <a href="https://coursera.org/share/bdeac01dd42ca9ed10df72fd6b6baaec">
            Deep Learning Specialization
          </a>
          by DeepLearning.AI!
        </p>
      </div>
    </div>
  </div>
</div>
<br />
