<div>
    <h1>
      Hi,&#128075;
      <br>
      I'm
      <a href="https://www.linkedin.com/in/umitsarioz"><strong>Ümit Sarıöz</strong></a>
    </h1>
    <h2>
      Applied AI/ML/DL, Data Science, and Data Enthusiast.
    </h2>
    My interests are applied Artificial Intelligence (AI)/Machine Learning (ML)/Deep Learning (DL), 
    and big data tools,as well as discovering useful patterns and knowledge extracted from data.
    In Innova, currently I'm working on Artificial Intelligence for Network Operations in TürkTelekom. 
    In this project, I'm working on problems such as anomaly detection, time-series forecasting,
    clustering and natural language processing in using network data.
    </p>
    <a class="btn btn-sm btn-secondary" href="https://docs.google.com/document/d/1jqIuOdB6uDpFEXafHg5Fn8BEFSeia3ME2m4PxMaxzJQ/edit?usp=sharing">
      <i class="fa fa-download" aria-hidden="true"></i>  Resume</a>
    <br>
    <br>
    <p>
        <em>
          All contents on this site are my own personal opinions and ideas,
           and do not reflect opinions of my institutions/organizations.
  
          </em>
    </p>
    <div>
      <h2><i class="fas fa-newspaper mr-2"></i><span>News</span></h2>
      
      <div class="row p-0">
        <div class="col-sm-1 p-0">
          <span class="badge bg-secondary font-weight-bold text-uppercase align-middle date ml-3">
            Jul, 2024
          </span>
        </div>
        <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
          <p>  I've completed 
            <a href="https://www.coursera.org/account/accomplishments/specialization/FRM4MKWY4M2L?utm_source=ln&utm_medium=certificate&utm_content=cert_image&utm_campaign=pdf_header_button&utm_product=s12n">
              Natural Language Processing Specialization </a> by DeepLearning.AI!
            </p>
        </div>
        </div>

    
      <div class="row p-0">
        <div class="col-sm-1 p-0">
          <span class="badge bg-secondary font-weight-bold text-uppercase align-middle date ml-3">
            Dec, 2023
          </span>
        </div>
        <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
          <p>I've assigned  as a member of the code review committee in the Artificial Intelligence for Network Operations Project in TürkTelekom.
          </p>
        </div>
        </div>


      <div class="row p-0">
      <div class="col-sm-1 p-0">
        <p class="badge bg-secondary font-weight-bold text-uppercase align-middle date ml-3">
          Jan, 2023
        </span>
      </div>
      <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
        <p>I completed my first data science project(Anomaly Detection) at Innova!. 
        </p>
      </div>
      </div>
  
      <div class="row p-0">
        <div class="col-sm-1 p-0">
          <span class="badge bg-secondary font-weight-bold text-uppercase align-middle date ml-3">
            Nov, 2022
          </span>
        </div>
        <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
          <p>I started working as a Data Scientist at Innova!
          </p>
        </div>
      </div>
  
      <div class="row p-0">
        <div class="col-sm-1 p-0">
          <span class="badge bg-secondary font-weight-bold text-uppercase align-middle date ml-3">
            Nov, 2021
          </span>
        </div>
        <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
          <p>I completed my first software project (Restful API) at KAVAK.com!
          </p>
        </div>
      </div>
  
      <div class="row p-0">
        <div class="col-sm-1 p-0">
          <span class="badge bg-secondary font-weight-bold text-uppercase align-middle date ml-3">
            Nov, 2021
          </span>
        </div>
        <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
          <p>I started my first job at KAVAK.com as Software Engineer I! 
          </p>
        </div>
      </div>
  
      <div class="row p-0">
        <div class="col-sm-1 p-0">
          <span class="badge  bg-secondary font-weight-bold text-uppercase align-middle date ml-3">
            Sep, 2021
          </span>
        </div>
        <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
          <p>I've finally graduated from Gazi University Computer Engineering department! What a BSc, huh?
          </p>
        </div>
      </div>
    </div>
</div>

<h2>
<i class="fas fa-pen mr-2"></i>
<span>Blog</span>
</h2>