---
layout: default
---

<script>
  document.addEventListener('DOMContentLoaded', function() {
    {% for project in site.data.projects %}
      fetch('https://api.github.com/repos/{{ project.url | remove: "https://github.com/" }}')
        .then(response => response.json())
        .then(data => {
          const starsCount = data.stargazers_count || 0;
          const watchersCount = data.watchers_count || 0;
          document.getElementById('stars-count-{{ project.name | slugify }}').textContent = starsCount;
          document.getElementById('watchers-count-{{ project.name | slugify }}').textContent = watchersCount;
          document.getElementById('loader-{{ project.name | slugify }}').style.display = 'none';
        })
        .catch(error => {
          console.error('Error fetching GitHub data:', error);
          document.getElementById('stars-count-{{ project.name | slugify }}').textContent = '0';
          document.getElementById('watchers-count-{{ project.name | slugify }}').textContent = '0';
          document.getElementById('loader-{{ project.name | slugify }}').style.display = 'none';
        });
    {% endfor %}
  });
</script>

<style>
  .my-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    width: 4rem;
    height: fit-content;
    font-size: 75%;
    font-weight: bold; /* Kalın yazı */
    text-transform: uppercase; /* Büyük harf */
    color: #fff;
    background-color: #6c757d; /* Secondary arka plan */
    border-radius: 0.25rem;
    vertical-align: middle; /* Orta hizalama */
    margin-left: 0.25rem; /* ml-3: Sola boşluk */
  }

  .project-image {
    width: 100%; /* Image takes up full width of the container */
    height: 100%; /* Image adjusts height according to width */
    object-fit: cover; /* Ensures the image fills the container and maintains its aspect ratio */
    max-width: 100%; /* Prevents the image from exceeding the container's width */
    max-height: 100%; /* Prevents the image from exceeding the container's height */
    border-radius: 0.5rem;
    border-right: 0.1rem groove;
    border-right-color: var(--text-color);
  }

  .project-card {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
  }

  .project-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-card .project-tags .badge {
    background-color: #6c757d;
    color: #fff;
    padding: 0.25em 0.3em;
    border-radius: 0.25rem;
    vertical-align: middle; /* Orta hizalama */
    height: fit-content;
    font-size: 75%;
    font-weight: bold; /* Kalın yazı */
  }

  .project-card .btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
  }

  .project-card .btn-outline-primary:hover {
    background-color: var(--primary);
    color: var(--btn-hover-text);
  }

  .project-card .bi {
    color: var(--icon-color);
  }
</style>

<div class="container my-5">
  <h1 class="mb-4">Projects</h1>
  <div class="row">
    {% for project in site.data.projects %}
    <div class="col-12 mb-4">
      <div class="card project-card shadow-sm">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ project.image }}"
              class="img-fluid rounded-start project-image"
              alt="{{ project.name }}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">
                    <a href="{{ project.url }}" target="_blank"
                      >{{ project.name }}</a
                    >
                  </h5>
                  <small class="text-muted"
                    >{{ project.date | date: "%d %b %Y" }}</small
                  >
                </div>
                <p class="card-text mt-2">{{ project.description }}</p>
                <div class="project-tags">
                  {% assign tags = project.technologies | split: ", " %} {% for
                  tag in tags %}
                  <span class="badge">{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>
              <i
                class="fas fa-spinner fa-spin"
                id="loader-{{ project.name | slugify }}"
              ></i>

              <div
                class="d-flex justify-content-between align-items-center mt-3"
              >
                <a
                  href="{{ project.url }}"
                  class="btn btn-primary btn-sm"
                  target="_blank"
                >
                  View on GitHub</a
                >
                <div>
                  <i
                    class="fas fa-star"
                    id="stars-{{ project.name | slugify }}"
                  ></i>
                  <span id="stars-count-{{ project.name | slugify }}">
                    <i
                      class="fas fa-spinner fa-spin"
                      id="loader-{{ project.name | slugify }}"
                    ></i>
                  </span>

                  <i
                    class="fas fa-eye"
                    id="watchers-{{ project.name | slugify }}"
                  ></i>
                  <span id="watchers-count-{{ project.name | slugify }}">
                    <i
                      class="fas fa-spinner fa-spin"
                      id="loader-{{ project.name | slugify }}"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
